/*type based selectors*/
h1{
    color: red;
    font-size: 200px;
    background-color: #10dfb2;
}
h3{
    font-size: 65px;
    background-color: rgb(12, 224, 47);
}
p{
    background-color: rgb(235, 12, 197);
 }
 /*class based selectors-->they can be used for multiple elements and multiple classes can be used for one element*/
.pizza{
    background-color: #10dfb2;
}
.brocli{
    background-color: blueviolet;
}
 .firstline{
    background-color: rgb(236, 115, 16);
 }
 .circularBorder{
    border-radius: 20px;
 }
 /*Pseudo selector-->they are used when element is in some state eg:hover of cursor*/
 .pizza:hover{
    font-size: 80px;
    background-color: rgb(32, 2, 61);
 }
 /*ID based selectors-->they can be used only once throughout the webpage*/
 #secondline{
    background-color: rgb(243, 239, 8);
 }
 

