table,
th,
td {
    border: 1px solid black;
}
body{
    background-color: #EEEEEE;
}
hr{
    background-color: #e01473;
    border-style:dotted none none none;
   
    width:200px;
    border-width: 10px;
}
h1{
    color: #3A98B9;
    font-size: 28px;
}
h3{
    color: #3A98B9;

}
h4{
    color: #3A98B9;
}
